#include<stdio.h>


int main(){


char dizi[]={"|          |"};
int i = 1;

while (1)
{
   ++i;
   dizi[i] = '>'; dizi[i-1] = ' '; puts(dizi);
  sleep(1);
   if (i % (sizeof(dizi) - 5) == 1){dizi[i]=' '; i = 1;}
 
  sleep(1);
  system("clear");

}


/*
#include <stdio.h>

int main()
{
 int i = 0;
 char dizi[] = "|               |";
 
 while (1) 
 {
  dizi[i + 2] = '>';
  puts(dizi);
  
  i = (i + 1) % ( sizeof(dizi) - 5);
  
  if (i + 2 != 2) dizi[i + 1] = ' ';
  else dizi[sizeof(dizi) - 4] = ' ';
  sleep(1);
  system("clear");
 }
}*/



  return 0;
}
